

<div id="logout-form">

<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>
<h3> Log in to view devs! </h3>
  <div class="field">
    <div class="text"> <%= label_tag :email %> </div>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
     <div class="text"> <%= label_tag :password %> </div>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
</div>

<% end %>

