


<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>

  <div class="field">
    <div class="text"> <%= label_tag :email %> </div>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
     <div class="text"> <%= label_tag :password %> </div>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>

<% end %>

