<div class="container-fluid" id="bigcontainer">
  <div class="wrapper" class="center-block">
    <div class="col-md-25 col-md-offset-15">
      <%= bootstrap_form_for(@dev, html: { multipart: true }) do |f| %>
       <div id="column-one">
        <%=f.text_field :first_name, placeholder: "First Name", :label => false %>
        <%= f.text_field :last_name, placeholder: "Last Name" %>
        <%=f.email_field :email, placeholder: "Email Address" %>
        <%= f.select :gender, [["Female", "Female"],
                               ["Male", "Male"],
                               ["Other", "Other"]],
                               { class: "selectpicker"},
                               placeholder: "Gender" %>
        <%= f.select :interested_in, [["Female", "Female"], ["Male", "Male"], ["Other", "Other"]], { class: "selectpicker", placeholder: "Seeking"} %>
        <%=f.text_field :location, placeholder: "Location" %>
        <%=f.text_field :github_username, placeholder: "Github Username" %>
       </div>
        <%= f.select :dev_level, [["Junior Developer", "Junior"],
                                  ["Mid Developer", "Mid Developer"],
                                  ["Senior Developer", "Senior Developer"]],
                                  { class: "selectpicker" } %>
        <%= f.select :prog_lang_pref, [["Ruby", "Ruby"],
                                       ["Javascript", "Javascript"],
                                       ["HTML", "HTML"],
                                       ["CSS", "CSS"],
                                       ["Java", "Java"],
                                       ["Python", "Python"],
                                       ["C++", "C++"],
                                       ["C", "C"],
                                       ["PHP", "PHP"]],
                                       { class: "selectpicker" } %>
        <%= f.date_select :born_on, order: [:month, :day, :year],
                                            start_year: 2015,
                                            end_year: 1950 %>
        <%= f.file_field :picture, class: "form-control" %>
        <%= f.text_area :description, placeholder: "A short description of yourself goes here!" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
        <button id="btn1" class="btn btn-default" type="submit">Submit</button>
      <% end %>
    </div>
  </div>
</div>

<% if @dev.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @dev.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
