<%= link_to "delete", dev_path, method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} %>

<%= form_for @dev do |f| %>
  <% if @dev.errors.any? %>
   <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @dev.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :interested_in %>
    <%= f.text_field :interested_in %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :github_username %>
    <%= f.text_field :github_username %>
  </div>
  <div class="field">
    <%= f.label :dev_level %>
    <%= f.text_field :dev_level %>
  </div>
  <div class="field">
    <%= f.label :born_on %>
    <%= f.text_field :born_on %>
  </div>
   <div class="field">
    <%= f.label :picture_url %>
    <%= f.text_field :picture_url %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "update profile" %></div>
<% end %>
