<main>
<div class=".col-md-4">


<% @devs.each do |dev| %>
  <article>
  <div class="center-block">
    <div class="thumbnail">






   <%= image_tag (dev.picture_url), {height: 150} %>
    <h3>Name: <%= dev.first_name %></h3>
    <p><h4>Gender: <%= dev.gender %></h4>
    <h4>Seeking: <%= dev.interested_in %></h4>
    <h4>Github Username: <%= dev.github_username %></h4>
    <h4><%= link_to "click to view user", dev_path(dev) %></h4>
 </p>


  </div>
  </div>
  </article>

<% end %>
</div>
</main>
