<main>

<% @devs.each do |dev| %>
  <% if current_dev.interested_in == dev.gender %>
    <% dev.comments.each do |comment| %>
      <% if comment.author_id == current_dev %>
        <article>
          <%= image_tag (dev.picture_url), {height: 150} %>
          <h4><%= dev.first_name %></h4>
          <h4><%= dev.interested_in %></h4>
          <h4><%= dev.github_username %></h4>
          <h4><%= link_to "click to view user", dev_path(dev) %></h4>
        </article>
      <% end %>
    <% end %>
  <% end %>
<% end %>

</main>
