<div>
   <%= image_tag (@dev.picture_url), {height: 300} %>
   <%= @dev.first_name %>
   <%= @dev.last_name %>
</div>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.message %></li>
  <% end %>
</ul>
<%= form_for @comment, url: dev_comments_path(@dev.id), method: "post" do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @comment.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div>
      <%= f.label :message %>
      <%= f.text_field :message %>
      <%= f.submit %>
    </div>
      <h4><%= link_to "click to return to devs", devs_path %></h4>
    <% if current_dev == @dev %>
      <h4><%= link_to "click to edit profile", edit_dev_path %></h4>
    <% end %>
<% end %>
