<div class="page-header">
  <small><h3><%= @dev.first_name %>'s Profile</h3></small>
</div>

<div class="row padded-row">
  <div class="col-sm-2 col-sm-push-5 thumbnail">
    <%= image_tag(@dev.picture, standard: {height: 300, width: 300}) %>
    <div class="caption">
      <h5><b>Description:</b></h5>
      <p><%= @dev.description %></p>
    </div>
  </div> <!-- .thumbnail -->

  <div id="" class="col-sm-4 col-sm-pull-2 gen-info-panel">
    <h4>General Info</h4>
    <h5> <b>Seeking:</b> <%= @dev.interested_in %> </h5>
    <h5> <b>Gender:</b> <%= @dev.gender %> </h5>
    <h5> <b>Location:</b> <%= @dev.location %> </h5>
    <h5> <b>Birthday:</b> <%= @dev.born_on.strftime("%B %e, %Y") %> </h5>
  </div> <!-- .gen-info-panel -->

  <div id="" class="col-sm-4 col-sm-offset-2 dev-info-panel">
    <h4>Dev Info</h4>
    <h5> <b>Developer Level:</b> <%= @dev.dev_level %></h5>
    <h5> <b>Github Username:</b> <%= @dev.github_username %></h5>
    <h5> <b>Programming Language Preference:</b> <%= @dev.prog_lang_pref %></h5>
  </div> <!-- .dev-info-panel -->
</div> <!-- .row !!!! -->



<div id="commentsindex" class="col-sm-8 col-sm-offset-2">
  <% @comments.each do |comment| %>
    <div>
      <p id="commentsindex2"><%= comment.message %> - <span class="author"><%= comment.commentor.first_name %></span>
        <% if current_dev && @comment %>
          <div class="edit-btns">
            <%= link_to "Edit", edit_dev_comment_path(@dev, comment) %>
            <%= link_to "Delete", dev_comment_path(@dev, comment), method: :delete %>
          </div>
        <% end %>
      </p>
    </div>
  <% end %>
</div> <!-- #comment-boxes -->

<%= bootstrap_form_for @comment, url: dev_comments_path(@dev.id), method: "post" do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h5>Form is invalid</h5>
      <ul>
        <% for message in @comment.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" id="comment">
    <div class="col-sm-6 col-sm-offset-3">
      <%= f.text_field :message, placeholder: "Comments" %>
    </div>
    <div class=col-sm-1>
      <%= f.submit "Add Comment", class: "btn btn-default" %>
    </div>
  </div>
<% end %> <!-- bootstrap_form_for -->

<div id="btns">
  <%= link_to "Devs", devs_path, {class: "btn btn-default"} %>
  <% if current_dev == @dev %>
     <%= link_to "Edit Profile", edit_dev_path(@dev), {class: "btn btn-default"} %>
  <% end %>
</div>
