<div class="show container">
  <div class="pics">
  <h3><%= @dev.first_name %>'s Profile </h3>
  <%= image_tag(@dev.picture, thumb: {height: 150, width: 150}) %></div><br>
    <div class="row">
      <div class="col-sm-5 col-md-6">
        <h5> Name: <%= @dev.first_name %> <%= @dev.last_name %></h5><br>
        <h5> Gender: <%= @dev.gender %> </h5><br>
        <h5> Seeking: <%= @dev.interested_in %> </h5><br>
        <h5> Location: <%= @dev.location %> </h5><br>
        <h5> Email Address: <%= @dev.email %></h5><br>
      </div>
      <div class="col-md-6 col-md-offset-0 col-sm-5 col-sm-offset-2 ">
        <h5> Birthday: <%= @dev.born_on.strftime("%B %e, %Y") %> </h5><br>
        <h5> Developer Level: <%= @dev.dev_level %></h5><br>
        <h5> Github Username: <%= @dev.github_username %></h5><br>
        <h5> Programming Language Preference: <%= @dev.prog_lang_pref %></h5><br>
        <h5> Description: <%= @dev.description %> </h5>
      </div>
    </div>
  </div>
  <ul>
    <div class="container">
      <% @comments.each do |comment| %>
        <li><h4><%= Dev.find(comment.author_id).first_name %></h4> -  <%= comment.message %></li>
      <% end %>
    </div>
  </ul>
  <div class="container">
    <%= bootstrap_form_for @comment, url: dev_comments_path(@dev.id), method: "post" do |f| %>
      <% if @comment.errors.any? %>
        <div class="error_messages">
          <h5>Form is invalid</h5>
          <ul>
            <% for message in @comment.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div id="comment">
        <%= f.label "Comment:" %>
        <%= f.text_field :message %>
        <button id="btn1" class="btn btn-default" type="submit">Submit</button>
      </div>
      <button id="btn1" class="btn btn-default" type="submit"><%= link_to "Devs", devs_path %></button>
      <% if current_dev == @dev %>
        <button id="btn2" class="btn btn-default" type="submit"><%= link_to "Edit", edit_dev_path %></button>
      <% end %>
    <% end %>
  </div>
