<!DOCTYPE html>
<html>
<head>
  <title>GitLove</title>
  <link rel="shortcut icon" href="http://www.clipartbest.com/cliparts/yck/bbM/yckbbM7cE.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'></head>
  <h1 style="color: #333333">GitLove</h1>
  <%= notice %>
  <% if current_dev %>
    <header class="navbar navbar-fixed-top">
      <h4 style="color: #E8E8EE" id="welcome" class="pull-left">Welcome, <%= current_dev.first_name %> </h4>
      <ul class="nav navbar-nav pull-right">
        <li role="presentation" class="active"><%= link_to "Home", devs_path %> </li>
        <li role="presentation"><%= link_to "Profile", current_dev %> </li>
        <li role="presentation"><%= link_to "Matches", dev_matches_path(current_dev) %> </li>
        <li role="presentation"><%= link_to "Log Out", session_path('dummy'), method: :delete %> </li>
      </ul>
   </header>
  <% else %>
    <header class="navbar navbar-fixed-top">
      <ul class="nav navbar-nav pull-right">
        <li role="presentation"><%= link_to 'Login', login_path%></li>
        <li role="presentation"><%= link_to 'Sign Up', new_dev_path %></li>
      </ul>
    </header>
  <% end %>
  <%= yield %>
</body>
</html>
