<!DOCTYPE html>
<html>
<head>
  <title>GitLove</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<p><%= notice %></p>
<h1>GitLove</h1>
<% if current_dev %>

    <nav class="nav">
      <div class="container">
        <ul class="nav nav-pills navbar-fixed-top">
          <li role="presentation" class="active"><%= link_to "Home", devs_path %></li>
          <li role="presentation"><%= link_to "Profile", current_dev %></li>
          <li role="presentation"><%= link_to "Matches", dev_matches_path(current_dev) %></li>
        </ul>
      </div>
    </nav>
    Welcome, <%= current_dev.first_name %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <button type="button" class="btn btn-primary-outline"><%= link_to 'Logout', session_path('dummy'), method: :delete %></button>
<% else %>
    <nav class="nav">
      <div class="container">
        <ul class="nav nav-pills navbar-fixed-top">
          <li role="presentation"><%= link_to 'Login', login_path%></li>
          <li role="presentation"><%= link_to 'Sign Up', new_dev_path %></li>
        </ul>
      </div>
    </nav>
<% end %>

<%= yield %>

</body>
</html>
